asgiref==3.8.1
cfgv==3.4.0
colorama==0.4.6
distlib==0.3.8
Django==5.0.4
djangorestframework==3.15.1
filelock==3.13.4
identify==2.5.36
iniconfig==2.0.0
nodeenv==1.8.0
packaging==24.0
pillow==10.3.0
platformdirs==4.2.1
pluggy==1.5.0
pre-commit==3.7.0
psycopg2==2.9.9
pytest==8.1.1
pytest-django==4.8.0
PyYAML==6.0.1
setuptools==69.5.1
sqlparse==0.5.0
tzdata==2024.1
virtualenv==20.26.0
drf-spectacular==0.27.1
faker==25.3.0
gunicorn==22.0.0
django-allauth==0.61.1
djangorestframework-simplejwt==5.3.1
dj-rest-auth==6.0.0
requests
